html, body{overflow-x:hidden;}
body{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  
 }
  body *{word-break: keep-all;}
  
  *{margin:0px; padding:0px;}
  a{text-decoration:none;color:#222;}
  li{list-style:none;}
 

 /*-------------------------------피시버전 -------------------------------*/
 @media(min-width:1220px){
    /*header*/
    header{width:100%; background:#f5f1ee;padding:2vw 0px;}
    .h_wrap{width:90%;display:flex;align-items:center;justify-content:space-between;margin:0px auto;}
    h1 img{width:180px;}
    .h_u{display:flex;justify-content:space-between;}
    .h_u li{margin-left:80px;}
    .h_u a{width:100%; height:30px; display:block;font-size:1.2vw;font-weight:500;line-height:30px;box-sizing: border-box;position:relative; z-index:99; }
    .h_u span{width:0%; height:10px; background:#e2c5bc; border-radius:10px;position:absolute; bottom:0px; left:50%;transform:translateX(-50%);z-index:-1;}
    .bar{display:none;}
    .m_menu{display:none;}


   /*비디오*/
   video{width:100%; height:50vw; object-fit: fill;}


    /* w3 */
    .text1{text-align:center; font-size:20px; margin:70px 0px;}
    .text1 h4{ font-size:3.5vw;font-weight:bold; margin:40px 0px 0px;}
    .text1 span{font-size:150px; font-weight:bold;}

    .con1{width:60%; height:200px; margin:0px auto;border:0.5px solid rgba(34,34,34,0.4);}
     
    .click{width:100%;text-align:center;margin:35px 0px 0px;}
    .w3-border{width:16%; height:60px;}
    
    .w3-btn{width:82%;height:3vw;font-size:1vw;font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;font-weight:500;background:#e2c5bc;border:1px solid #222;}
    .con1 p{text-align:center;font-size:3vw;}
    .material-symbols-outlined{margin-right:15px;font-size:1.2vw;font-weight:bold;}
    
    





    .review{width:80%; height:75vw; margin:80px auto 0px; display:flex; justify-content:space-between;}
     .text2{text-align:center; margin-top:100px;}
     .text2 p{margin-bottom:14px; font-size:17px;}
     .text2 h3{font-size:30px;margin-bottom:50px;}
     .re_1 li{width:25vw ; height:25vw;text-align:center;}
     .re_1 li img{width:100%; height:100%; object-fit:cover;}
     .re_1 li {overflow:hidden;}
     .re_1 .up{border-radius:80px 80px 0px 0px; margin-bottom:10px;}
     .re_1 .down{border-radius:0px 0px 80px 80px; margin-bottom:10px;}

     .re_1:nth-of-type(2){margin-top:150px;}
     

      
   
   /*footer*/
   footer{width:100%;  height:200px;background:#f5f1ee;padding:50px 0px;}
   .f_1{width:90%;display:flex; align-items:flex-start;justify-content:space-between;margin:0px auto;}
   footer img{width:100px;}
   .f_text{width:25%; display:flex;justify-content:space-between;  }
   .f_text li{margin:10px 0px;}
   .ft span,.ft2 span{color:#222;font-weight:bold;}
 }


 /*-------------------------------테블릿 -------------------------------*/
@media(min-width:768px) and (max-width:1219px){
   /*header*/
   header{width:100%; background:#f5f1ee;padding:2vw 0px;}
   .h_wrap{width:90%;display:flex;align-items:center;justify-content:space-between;margin:0px auto;}
   h1 img{width:180px;}
   .h_u{display:flex;justify-content:space-between;}
   .h_u li{margin-left:5vw;}
   .h_u a{width:100%; height:30px; display:block;font-size:1.6vw;font-weight:600;line-height:30px;box-sizing: border-box;position:relative; z-index:99; }
   .h_u span{width:0%; height:10px; background:#e2c5bc; border-radius:10px;position:absolute; bottom:0.5vw; left:50%;transform:translateX(-50%);z-index:-1;}
   .bar{display:none;}
   .m_menu{display:none;}

/*비디오*/
video{width:100%; height:50vw; object-fit: fill;}


/* w3 */
.text1{text-align:center; font-size:20px; margin:70px 0px;}
.text1 h4{ font-size:26px;font-weight:bold; margin:40px 0px;}
.text1 span{font-size:15vw; font-weight:bold;}

.con1{width:80%; height:200px; margin:0px auto;border:0.5px solid rgba(34,34,34,0.4);}
 
.click{width:100%;text-align:center;margin:35px 0px 20px;}
.w3-border{width:12vw; height:50px;}

 
.w3-btn{width:75%;height:4.3vw;font-size:2vw;font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;font-weight:500;background:#e2c5bc;border:1px solid #222;}
.con1 p{text-align:center;}
.material-symbols-outlined{margin-right:15px;font-size:2.8vw; font-weight:bold; line-height:4.3vw;}




.text2{text-align:center; margin-top:100px;}
.text2 p{margin-bottom:14px; font-size:17px;}
.text2 h3{font-size:30px;margin-bottom:50px;}

.slide_review{width:90%;height:30vw;overflow: hidden; margin:0px auto 5vw;}
.review{width:100%; height:90vw;}

 .re_1{width:100%; height:30vw;display:flex;justify-content:center;align-items:center;}
 .re_1 li{width:30vw ; height:100%;text-align:center;}
 .re_1 li img{width:100%; height:30vw; object-fit:cover;}
 .re_1 li {overflow:hidden;}
 .re_1 .up{border-radius:2vw 0px 0px 2vw; }
 .re_1 .down{border-radius:0px 2vw 2vw 0px; }

 
 .re_1 li:nth-of-type(3){height:10vw;}

 footer{width:100%;  height:200px;background:#f5f1ee;padding:50px 0px;}
 .f_1{width:90%;display:flex; align-items:flex-start;justify-content:space-between;margin:0px auto;}
 footer img{width:100px;}
 .f_text{width:25%; display:flex;justify-content:space-between;  }
 .f_text li{margin:10px 0px;}
 .ft span,.ft2 span{color:#222;font-weight:bold;}

}

/*-------------------------------모바일 -------------------------------*/
 
@media(max-width:767px){
  /*header*/
  header{width:100%; background:#f5f1ee;padding:5% 0%;}
  .h_wrap{width:90%;display:flex;align-items:center;justify-content:space-between;margin:0px auto;}
  h1 img{width:33%;}
  
  .bar{width:40px;display:block;margin:0px auto;position:absolute;right:4vw;top:7vw;z-index:99;cursor: pointer;}
  .bar li{background:#222;}
  .bar li:nth-of-type(1){width:80%; height:4px; border-radius: 7.5px; margin-bottom:1vw;}
  .bar li:nth-of-type(2){width:60%; height:4px; border-radius: 7.5px;margin-bottom:1vw;}
  .bar li:nth-of-type(3){width:80%; height:4px; border-radius: 7.5px;}
 
 

  
  .h_u{display:none;}
  .m_menu{width:30vw; height:90vw;background:#b18373; position:fixed; top:0px; right:-30vw;z-index:1;padding:15% 6% 6%; box-sizing: border-box;}
  .mh_u{width:100%;height:100%;}
  .m_menu .mh_u a{width:100%; height:13vw; display:block; color:#fff;
  line-height:13vw;text-align:right;font-size:3vw;}
  
   /*비디오*/
video{width:100%; height:50vw; object-fit: fill;}


/* w3 */
.text1{width:80%;text-align:center; font-size:2vw; margin:3vw auto;}
.text1 h4{ font-size:5vw;font-weight:600; margin:4vw 0px;}
.text1 span{font-size:12vw; font-weight:bold;}

.con1{width:90%; height:26vw; margin:0px auto;border:0.5px solid rgba(34,34,34,0.4);}
 
.click{width:100%;text-align:center;margin:4vw 0px ;}
.w3-border{width:12vw; height:40px;font-size:2.2vw;}

.w3-btn{width:85%;height:6vw;font-size:2.5vw; background:#e2c5bc;border:1px solid #222;}
.con1 p{text-align:center;font-size:3vw;}
.span material-symbols-outlined{margin-right:15px;font-weight:bold;font-size:2vw;}



.text2{text-align:center; margin-top:100px;}
.text2 p{margin-bottom:14px; font-size:17px;}
.text2 h3{font-size:30px;margin-bottom:50px;}

.slide_review{width:90%;height:30vw;overflow: hidden; margin:0px auto 5vw;}
.review{width:100%; height:90vw;}

 .re_1{width:100%; height:30vw;display:flex;justify-content:center;align-items:center;}
 .re_1 li{width:30vw ; height:100%;text-align:center;}
 .re_1 li img{width:100%; height:30vw; object-fit:cover;}
 .re_1 li {overflow:hidden;}
 .re_1 .up{border-radius:2vw 0px 0px 2vw; }
 .re_1 .down{border-radius:0px 2vw 2vw 0px; }

 
 .re_1 li:nth-of-type(3){height:10vw;}

 /*footer*/
 footer{width:100%;  height:200px;background:#f5f1ee;padding:5% 0px;  font-size:2vw;}
    .f_1{width:90%;display:flex; align-items:flex-start;justify-content:space-between;margin:0px auto;}
    footer img{width:30%;}
    .f_text{width:40%; display:flex;justify-content:space-around;  }
    .f_text li{margin:10px 0px;}
    footer span{color:#222; font-weight:bold;}
   }